.marker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #89849b;
  border: 1px solid #4a4a4a;
  transform: rotate(-45deg);
}

div.lineref {
  line-height: 14px;
  color: #fff;
  position: absolute;
  transform: rotate(45deg);
  text-align: center;
}
